.seccion5{
  width:100%;
  position: relative;
  padding: 0px 25px;
}
.seccion5 .Titulo_5{
   text-align: center;
   padding-top: 60px;
  padding-bottom: 35px;
}
.seccion5 .Titulo_5 h5{
  padding-bottom: 14px;
  font-size: 18px;
}
.seccion5 .Titulo_5 p{
  font-size: 15px;
}
.seccion5 .logos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.seccion5 .logos figure img{
  width: 100px;
}
.video{
  width: 100%;
  height: auto;
}
.video iframe{
  width: 100%;
  height: 100%;
}
.contenedor_video{
  border: 1px solid #e3e6ea;
}
.seccion5 .contenedor_video .descripcion_5{
  padding: 15px 15px;
}
.seccion5 .contenedor_video .descripcion_derecha{
  display: none;
}
.seccion5 .contenedor_video .descripcion_5 p{
  font-size: 12px;
  text-align: justify;
  line-height: 20px;
  padding-bottom: 20px;
}
.comentario{
  display: flex;
  justify-content: flex-start;
}
.comentario img{
  width: 30px;
  height: 30px;
}
.comentario .comentario_2{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.comentario p{
  font-size: 10px;
}
.comentario .comentario_2 h5{
  padding-bottom: 5px;
}
.comentario .comentario_2 span{
  font-size: 8px;
  color: #8b8787;
}
.boton_Read {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 35px;
}
.boton_Read a{
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 15px;
}
.boton_Read span{
  color: #60727e;
  padding-right: 10px;
}
.boton_Read a img{
  height: 13px;
}
@media screen and (min-width: 480px){
 .contenedor_video{
    display: flex;
    flex-direction: row;
 }
}
@media screen and (min-width: 768px){
  .seccion5 .contenedor_video .descripcion_derecha{
    display: block;
  }
  .seccion5 .Titulo_5 {
    padding-top: 100px;
  }
  .contenedor_video{
    border: 0px;
  }
  .seccion5 .contenedor_video .descripcion_5 {
    padding: 15px 15px;
    margin-right: 22px;
    border:1px solid #e5e8e9
 }
  .seccion5 .contenedor_video .descripcion_derecha{
    padding: 15px 15px;
    border:1px solid #e5e8e9
   }
  .seccion5 .contenedor_video .descripcion_derecha p{
    line-height: 22px;
  }
  .seccion5 .contenedor_video .descripcion_derecha p{
    font-size: 12px;
    text-align: justify;
    line-height: 22px;
    padding-bottom: 20px;
  }
  .comentario_derecha{
    display: flex;
    justify-content: flex-start;
  }
  .comentario_derecha img{
    width: 30px;
    height: 30px;
  }
  .comentario_derecha .comentario_2derecha{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
  .comentario_derecha  p{
    font-size: 10px;
  }
  .comentario_derecha .comentario_2derecha span{
    font-size: 8px;
    color:#8b8787;
  }
  .comentario_2 h5{
    font-size: 11px;
  }
  .comentario_2derecha h5{
   font-size: 11px;
  }
  .comentario_derecha .comentario_2derecha h5{
    padding-bottom: 5px;
  }
  .seccion5 .logos{
    padding: 25px 0px;
  }
}
@media screen and (min-width: 1024px){
  .seccion5{
    padding: 0px 50px;
  }
  .seccion5 .logos {
    padding: 30px 0px;
  }
  .seccion5 .Titulo_5 h5 {
    font-size: 25px;
  }
  .seccion5 .Titulo_5 p {
    font-size: 20px;
  }
  .seccion5 .logos figure img {
    width: 196px;
  }
  .seccion5 .contenedor_video .descripcion_5 p {
   font-size: 16px;
   line-height: 26px;
  }
  .seccion5 .contenedor_video .descripcion_derecha p {
    font-size: 16px;
    line-height: 26px;
  }
  .comentario img {
    width: 35px;
    height: 35px;
  }
  .comentario_derecha img {
    width: 35px;
    height: 35px;
  }
  .comentario_2 h5 {
    font-size: 15px;
  }
  .comentario .comentario_2 span {
    font-size: 12px;
  }
  .comentario_2derecha h5 {
    font-size: 15px;
  }
  .comentario_derecha .comentario_2derecha span {
    font-size:12px;
  }
  .seccion5 .contenedor_video .descripcion_5 {
    margin-right: 44px;
  }
 .boton_Read{
   padding-top: 45px;
   padding-bottom: 60px;
 }
 .boton_Read a{
   font-size: 20px;
 }
 .seccion5 .contenedor_video .descripcion_5{
   padding: 20px 20px;
 }
}
