.seccion6{
  width:100%;
  position:relative;
  background: #1e3346;
  padding: 35px 30px;
  overflow: hidden;
}
.seccion6 .primer_6{
  line-height: 25px;
}
.seccion6 .primer_6 h5{
  color:#bfd6eb;
  font-size: 15px;
  padding-bottom: 10px;
}
.seccion6 .primer_6 p{
 font-size: 15px;
 color:#b4c8d3;
}
.seccion6 .primer_6 .column{
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.seccion6 .segundo_6{
    line-height: 25px;
    padding: 25px 0px;
}
.seccion6 .segundo_6 h5{
  color:#bfd6eb;
  font-size: 15px;
  padding-bottom: 10px;
}
.seccion6 .segundo_6 a{
  text-decoration: none;
  white-space: nowrap;
}
.seccion6 .segundo_6 img{
  width: 15px;
}
.seccion6 .segundo_6 span{
  color:#e0e5e5;
  padding-left: 10px;
  font-size: 15px;
}
.boton_Request {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 35px;
}
.boton_Request a{
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 5px 15px;
  background:#3498db;
}
.boton_Request span{
  color: white;
}
.seccion6 .tercer_6{
    line-height: 20px;
}
.seccion6 .tercer_6 h5{
  color:#bfd6eb;
  font-size: 15px;
  padding-bottom: 10px;
}
.seccion6 .tercer_6 p{
 font-size: 13px;
 color:#e0e5e5;
 text-align: justify;
 padding-bottom: 25px;
}
.seccion6 .primer_6 p:hover{
  color: #3498db;
}
.separacion{
  width: 259px;
  height: 1px;
  background: #3d4d58;
}
.seccion6 .cuarto_6 .direccion span{
  color:#c4d2dd;
  font-size: 10px;
  white-space: nowrap;
}
.seccion6 .cuarto_6 .iconos_final{
  display: flex;
  flex-direction: row;
}
.seccion6 .cuarto_6 .iconos_final figure{
  padding-right: 10px;
}
.seccion6 .cuarto_6 .iconos_final img{
  width: 30px;
}
.seccion6 .cuarto_6 .Terminos span{
  white-space: nowrap;
  color:#57767e;
  font-size: 10px;
}

@media screen and (min-width: 480px){
 .seccion6 .primer_6 h5{
  font-size: 20px;
 }
 .seccion6 .primer_6 p{
   font-size: 20px;
 }
}
@media screen and (min-width: 768px){
}
@media screen and (min-width: 1024px){
}
