.seccion6{
  width:100%;
  position:relative;
  background: #1e3346;
  padding: 35px 30px;
  overflow: hidden;
}
.seccion6 .primer_6{
  line-height: 25px;
}
.seccion6 .primer_6 h5{
  color:#bfd6eb;
  font-size: 15px;
  padding-bottom: 10px;
}
.seccion6 .primer_6 p{
 font-size: 15px;
 color:#b4c8d3;
}
.seccion6 .primer_6 .column{
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.seccion6 .segundo_6{
    line-height: 25px;
    padding: 25px 0px;
}
.seccion6 .segundo_6 h5{
  color:#bfd6eb;
  font-size: 15px;
  padding-bottom: 10px;
}
.seccion6 .segundo_6 a{
  text-decoration: none;
  white-space: nowrap;
}
.seccion6 .segundo_6 img{
  width: 15px;
}
.seccion6 .segundo_6 span{
  color:#e0e5e5;
  padding-left: 10px;
  font-size: 15px;
}
.boton_Request {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 35px;
}
.boton_Request a{
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 5px 15px;
  background:#3498db;
}
.boton_Request span{
  color: white;
}
.seccion6 .tercer_6{
    line-height: 20px;
}
.seccion6 .tercer_6 h5{
  color:#bfd6eb;
  font-size: 15px;
  padding-bottom: 10px;
}
.seccion6 .tercer_6 p{
 font-size: 13px;
 color:#e0e5e5;
 text-align: justify;
 padding-bottom: 25px;
}
.seccion6 .primer_6 p:hover{
  color: #3498db;
}
.separacion{
  width: 100%;
  height: 1px;
  background: #3d4d58;
}
.separacion2{
  width: 100%;
  height: 1px;
  background: #3d4d58;
}
.seccion6 .cuarto_6 img{
  padding-top: 15px;
}
.seccion6 .cuarto_6 .conjunto{
  padding-top: 15px;
  display: flex;
}
.seccion6 .cuarto_6 .conjunto .imagen_6{
  padding-right: 25px;
}
.seccion6 .cuarto_6 .conjunto .direccion{
   display: flex;
   flex-direction: column;
   padding-bottom: 15px;
}
.seccion6 .cuarto_6 .conjunto .Terminos{
   flex-direction: column;
   display: flex;
   line-height: 15px;
}
.seccion6 .cuarto_6 .direccion span{
  color:#c4d2dd;
  font-size: 12px;
  line-height: 15px;
  white-space: nowrap;
}
.seccion6 .cuarto_6 .iconos_final{
  display: flex;
  flex-direction: row;
}
.seccion6 .cuarto_6 .iconos_final figure{
  padding-right: 10px;
}
.seccion6 .cuarto_6 .Terminos span{
  white-space: nowrap;
  color:#57767e;
  font-size: 10px;
}
@media screen and (min-width: 480px){
   .seccion6 .primer_6 .column{
    line-height: 35px;
   }
   .seccion6 .primer_6 h5{
    font-size: 20px;
    padding-bottom: 20px;
   }
   .seccion6 .primer_6 p{
     font-size: 16px;
   }
   .seccion6 .segundo_6 h5 {
     font-size: 20px;
     padding-bottom: 20px;
   }
   .seccion6 .segundo_6 span{
     font-size: 15px;
     line-height: 38px;
   }
   .seccion6 .segundo_6 a{
     display: flex;
   }
   .seccion6 .segundo_6 img {
      width: 25px;
      height: 25px;
   }
   .seccion6 .tercer_6 h5 {
     font-size: 20px;
   }
   .seccion6 .tercer_6 p {
     font-size: 16px;
     line-height: 30px;
   }
  .seccion6 .cuarto_6 .direccion span{
    font-size: 15px;
    line-height: 30px;
  }
  .seccion6 .cuarto_6 .Terminos span {
      font-size: 15px;
      line-height: 25px;
  }
  .seccion6 .cuarto_6 .conjunto .imagen_6 {
    padding-right: 70px;
  }
}
@media screen and (min-width: 768px){
  .seccion6 .primera_entrada{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
  }
  .separacion{
    width: 1px;
    height: 72%;
  }
  .seccion6 .segundo_6 {
    padding: 0px 0px;
  }
  .seccion6 .primer_6 h5{
   font-size: 15px;
  }
  .seccion6 .primer_6 p{
    font-size: 10px;
    white-space: nowrap;
  }
  .seccion6 .primer_6 .column{
    line-height: 26px;
  }
  .seccion6 .segundo_6 h5 {
    font-size: 15px;
  }
  .seccion6 .segundo_6 span{
    font-size: 10px;
    line-height: 25px;
  }
  .seccion6 .tercer_6 h5 {
    font-size: 15px;
  }
  .seccion6 .tercer_6 p {
    font-size: 10px;
    line-height: 22px;
  }
  .seccion6 .segundo_6 img {
    width: 10px;
    height: 15px;
  }
  .seccion6 .primer_6 {
    padding-right: 45px;
    display: flex;
  }
  .seccion6 .primer_6 .primera_columna{
    padding-right: 38px;
  }
  .column .column_1{
    padding-right:45px;
  }
  .seccion6 .segundo_6 {
    padding-right: 45px;
    display: flex;
  }
  .seccion6 .segundo_6 .segunda_columna{
    padding-right: 38px;
  }
  .seccion6 .cuarto_6 .conjunto .direccion {
    display: flex;
    flex-direction: row;
    padding-bottom:0px;
  }
  .seccion6 .cuarto_6 .conjunto .Terminos {
    flex-direction: row;
    display: flex;
  }
  .seccion6 .cuarto_6 .direccion span {
    font-size: 10px;
  }
  .seccion6 .cuarto_6 .Terminos span {
    font-size: 10px;
  }
  .seccion6 .cuarto_6 .iconos_final img {
    width: 32px;
  }
  .seccion6 .cuarto_6 .conjunto .imagen_6 {
    padding-right:20px;
  }
  .seccion6 .cuarto_6 .conjunto .izquierda{
    display: flex;
  }
  .seccion6 .cuarto_6 .iconos_final {
    position: absolute;
    right: 20px;
  }
}
@media screen and (min-width: 1024px){

}
