*{
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	height: 5000px;
}
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  margin: initial;
}
*{
  margin: 0px;
  padding: 0px;
}
